@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */

  /* rest of the colors */
  --black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --skyblue: #2196f3;
  --darkWhite: #f5f4fa;
  --borderCardsColor: #afb1b8;

  /* rest of the vars */
  --backgroundColor: var(--white);
  --textColor: var(--black);
  --paragraphColor: var(--grey);
  --textHoverColor: var(--skyblue);
  --footerColor: #2f303a;

  --borderRadius: 4px;
  --letterSpacing: 1px;
  --defaultDesktopPadding: 94px;
  --transition: 0.3s ease-in-out all;
  --shadow-1: 0 3px 6px -1px rgba(0, 0, 0, 0.3),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  background: var(--backgroundColor);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  background-color: var(--skyblue);
  color: var(--white);
  border: transparent;
  border-radius: var(--borderRadius);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-email {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  box-shadow: 0 0 0;
  line-height: 0.5;
  padding-left: 1px;
}

/* Title */

.title {
  text-align: center;
}

/* Socials section */

.socials {
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social:hover {
  border-radius: 50%;
  background-color: var(--skyblue);
}

.social:hover svg {
  fill: var(--white);
}

footer .social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

footer .social svg {
  fill: var(--white);
}

/* Modal */

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: var(--transition);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.show-modal {
  opacity: 1;
  z-index: 100;
}

.modal-content {
  position: absolute;
  max-width: 528px;
  width: 100%;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: var(--borderRadius);
}

.modal-content button {
  box-shadow: 0 4px 5px -4px var(--black);
  margin: 0 auto;
}

.modal-title {
  font-size: 1.25rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 12px;
}

.form-row {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form-row label {
  color: var(--grey);
  font-size: 0.75rem;
  font-weight: 400;
}

.form-row input,
textarea {
  width: 100%;
  border: 1px solid rgba(22, 22, 22, 0.2);
  border-radius: var(--borderRadius);
  padding: 12px;
  resize: none;
}

.form-row input {
  padding-left: 40px;
}

.form-row input:focus,
textarea:focus {
  outline: transparent;
  border: 1px solid var(--skyblue);
}

.form-row textarea::placeholder {
  color: var(--grey);
  opacity: 0.5;
}

.input-container {
  position: relative;
}

.input-container svg {
  position: absolute;
  left: 15px;
  top: 15px;
}

.input-container input:focus + svg {
  fill: var(--skyblue);
}

.form-row_checkbox {
  height: 24px;
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--grey);
  padding-left: 13px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form-row_checkbox input {
  height: 15px;
  width: 15px;
}

.form-row_checkbox label {
  line-height: 24px;
  letter-spacing: 0.4px;
}

.form-row_checkbox label a {
  text-decoration: underline;
  color: var(--skyblue);
}

/* Header section*/

header {
  border-bottom: 1px solid #ececec;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  color: var(--textColor);
  line-height: 31px;
}

.logo span {
  color: var(--skyblue);
}

footer .logo {
  color: var(--white);
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-menu {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 17.875rem;
  margin-left: 5.625rem;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 80px;
  padding-top: 4px;
  border-bottom: 4px solid transparent;
  font-weight: 500;
}

.nav-item:hover a {
  color: var(--skyblue);
}

.nav-item:hover {
  border-bottom: 4px solid var(--skyblue);
}

.nav-link {
  display: block;
  color: var(--black);
}

.nav-info {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: space-between;
  column-gap: 40px;
}

.nav-email,
.nav-number {
  display: flex;
  align-items: center;
  height: 80px;
  cursor: pointer;
  column-gap: 10px;
  font-weight: 500;
}

.number-icon,
.email-icon {
  padding-top: 3px;
}

.nav-email span,
.nav-number span {
  color: var(--grey);
}

.nav-email:hover span,
.nav-number:hover span {
  color: var(--skyblue);
}

.nav-email:hover svg,
.nav-number:hover svg {
  fill: var(--skyblue);
}

/* Hero Section */

.hero {
  background: url("../assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 37.5rem;
  position: relative;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  z-index: 1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  text-align: center;
  padding-top: 12.5rem;
}

.hero-text {
  text-transform: uppercase;
  line-height: 60px;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 3px;
}

.hero-container .btn {
  margin: 0 auto;
}

.hero-text,
.hero-container .btn {
  z-index: 2;
}

/* Activity section */

.activity {
  padding-top: var(--defaultDesktopPadding);
  padding-bottom: var(--defaultDesktopPadding);
}

/* Advantages article */

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  flex-wrap: wrap;
}

.advantages-item {
  max-width: 270px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.advantages-item_header {
  border-radius: var(--borderRadius);
  background-color: var(--darkWhite);
  padding: 25px 100px;
}

.advantages-item_footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.advantages-item_title {
  text-transform: uppercase;
}

.advantages-item_descr {
  color: var(--grey);
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

/* Occupation article */

.occupation {
  padding-top: var(--defaultDesktopPadding);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.occupation-title {
  margin: 0 auto;
}

.occupation-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
}

.occupation-card {
  display: block;
  max-width: 370px;
  position: relative;
}

.occupation-card img {
  display: block;
}

.occupation-card_footer {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  padding-top: 27px;
}

.occupation-card_title {
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

/* Our team */

.team {
  background-color: var(--darkWhite);
  padding-top: var(--defaultDesktopPadding);
  padding-bottom: var(--defaultDesktopPadding);
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 50px;
}

.team-member {
  display: block;
  max-width: 270px;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.team-member_footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 30px;
  text-align: center;
}

.team-member_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.team-member_name {
  font-weight: 500;
}

.team-member_job {
  font-weight: 400;
  color: var(--grey);
}

/* Customer Section */

.customers {
  padding-top: var(--defaultDesktopPadding);
  padding-bottom: var(--defaultDesktopPadding);
}

.customer-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.customer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  width: auto;
  border: 1px solid var(--borderCardsColor);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.customer-card:hover {
  border: 1px solid var(--skyblue);
}

.customer-icon_wrapper {
  display: block;
  padding: 10px 20px;
}

.customer-card:hover svg {
  fill: var(--skyblue);
}

/* Footer */

footer {
  background-color: var(--footerColor);
  padding: 60px 0 60px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-style: normal;
}

.footer-contact-info a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 3%;
}

.footer-contact-info a:first-child {
  color: var(--white);
}

.footer-socials,
.footer-mailing {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 0.75rem;
}

.footer h4 {
  color: var(--white);
  letter-spacing: var(--letterSpacing);
}

.footer-email-form {
  display: flex;
  column-gap: 12px;
}

#footer-email {
  display: block;
  max-width: 450px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--borderRadius);
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
}

/* Tabs */

.hidden {
  display: none;
}

.tabs {
  padding: 94px 0;
}

.tabs-filter {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.filter-btn {
  background-color: var(--darkWhite);
  border-color: transparent;
  padding: 6px 22px;
  border: 0;
  border-radius: var(--borderRadius);
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
}

.filter-btn_active {
  background-color: var(--skyblue);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
}

.tabs-cards {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  transition: var(--transition);
  cursor: pointer;
}

.card-header {
  position: relative;
}

.card-description {
  position: absolute;
  top: 0;
  left: -1px;
  padding: 63px 24px;
  color: var(--white);
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: var(--transition);
}

.card:hover .card-description {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.card:hover {
  box-shadow: var(--shadow-1);
}

.card-footer {
  padding: 20px 24px;
  font-size: 1.125rem;
}

.card-footer h4 {
  line-height: 2;
  font-size: 1.125rem;
  text-transform: capitalize;
}

.card-footer p {
  line-height: 1.875;
  font-size: 1rem;
  color: var(--grey);
}
